.courseList {
    border-top: 2px solid black;
    /*border-bottom: 2px solid black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 245px;
    overflow-x: auto;
    /*overflow: hidden;*/
}

.course {
    margin: 10px;
    /*text-align: center;*/
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modalContent > * {
    margin: 5px;
}

.cardBody > * {
    margin: 5px;
}

.ratingSlider {
    margin-left: 5px;
}

label p {
    margin-bottom: 0.5rem;
}

/* The Close Button */
.closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 7px;
  height: 30px;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
